{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-12">
    <!-- Product grid for Page 1 -->
    <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-4">
      
      <!-- Product 1 -->
      <div class="col">
        <div class="product-item">
          <figure>
            <a href="index.html" title="Whole Wheat Sandwich Bread">
              <img src="{{ url_for('static', filename='images/product-thumb-1.png')}}" alt="Whole Wheat Sandwich Bread" class="tab-center img-fluid">
            </a>
          </figure>
          <div class="d-flex flex-column text-center">
            <h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
            <div class="d-flex justify-content-center align-items-center gap-2">
              <del>$24.00</del>
              <span class="text-dark fw-semibold">$18.00</span>
              <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
            </div>
            <div class="button-area p-3 pt-0">
              <div class="row g-1 mt-2 align-items-center">
                <div class="col-3">
                  <input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1">Qty
                </div>
                <div class="col-9">
                  <a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
                    <svg width="18" height="18"><use xlink:href="#cart"></use></svg>Buy
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Product 2 -->
      <div class="col">
        <div class="product-item">
          <figure>
            <a href="index.html" title="Whole Grain Oatmeal">
              <img src="{{ url_for('static', filename='images/product-thumb-2.png')}}" alt="Whole Grain Oatmeal" class="tab-center img-fluid">
            </a>
          </figure>
          <div class="d-flex flex-column text-center">
            <h3 class="fs-6 fw-normal">Whole Grain Oatmeal</h3>
            <div class="d-flex justify-content-center align-items-center gap-2">
              <del>$54.00</del>
              <span class="text-dark fw-semibold">$50.00</span>
              <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
            </div>
            <div class="button-area p-3 pt-0">
              <div class="row g-1 mt-2 align-items-center">
                <div class="col-3">
                  <input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity tab-right" value="1">Qty
                </div>
                <div class="col-9">
                  <a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
                    <svg width="18" height="18"><use xlink:href="#cart"></use></svg> Buy
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Product 3 -->
      <div class="col">
        <div class="product-item">
          <figure>
            <a href="index.html" title="Organic Almond Butter">
              <img src="{{ url_for('static', filename='images/product-thumb-3.png')}}" alt="Organic Almond Butter" class="tab-center img-fluid">
            </a>
          </figure>
          <div class="d-flex flex-column text-center">
            <h3 class="fs-6 fw-normal">Organic Almond Butter</h3>
            <div class="d-flex justify-content-center align-items-center gap-2">
              <del>$16.00</del>
              <span class="text-dark fw-semibold">$14.00</span>
              <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">12% OFF</span>
            </div>
            <div class="button-area p-3 pt-0">
              <div class="row g-1 mt-2 align-items-center">
                <div class="col-3">
                  <input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1">Qty
                </div>
                <div class="col-9">
                  <a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
                    <svg width="18" height="18"><use xlink:href="#cart"></use></svg>Buy
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Product 4 -->
      <div class="col">
        <div class="product-item">
          <figure>
            <a href="index.html" title="Organic Peanut Butter">
              <img src="{{ url_for('static', filename='images/product-thumb-4.png')}}" alt="Organic Peanut Butter" class="tab-center img-fluid">
            </a>
          </figure>
          <div class="d-flex flex-column text-center">
            <h3 class="fs-6 fw-normal">Organic Peanut Butter</h3>
            <div class="d-flex justify-content-center align-items-center gap-2">
              <del>$20.00</del>
              <span class="text-dark fw-semibold">$18.00</span>
              <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
            </div>
            <div class="button-area p-3 pt-0">
              <div class="row g-1 mt-2 align-items-center">
                <div class="col-3">
                  <input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1">Qty
                </div>
                <div class="col-9">
                  <a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
                    <svg width="18" height="18"><use xlink:href="#cart"></use></svg>Buy
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- End product grid -->

    <!-- Pagination -->
    <div class="pagination d-flex justify-content-center mt-4">
      <a href="page-2.html" class="btn btn-secondary">Next Page</a>
    </div>
  </div>
</div> <!-- End row -->


{% endblock %}























